$accent-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$black-color: #000000;
$footer-backgroud-color: #2f303a;
$background-section-color: #f5f4fa;
$border-color: #eeeeee;
$social-colors: #afb1b8;

$font-family-main: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;